include pyopenms/*.py
include pyopenms/*.pyi
include pyopenms/py.typed
include pyopenms/addons/*.py
graft pyopenms/share
prune pyopenms/share/OpenMS/examples
include pyopenms/*.dll
include pyopenms/*.dylib
include pyopenms/*.so
include pyopenms/*.pyd
exclude pyopenms/*.cpp
