/* <!-- $Id: styles.css,v 1.4 2005/12/27 16:14:44 marc_sturm Exp $ --> */

body { background-color:#FFFFFF;
       margin-left:10px;
       margin-right:10px; }

h1 { font-size:200%;
     color:#DD0000;
		 background-color:#ffc;
     font-style:italic;
		 padding-top:3px;
		 padding-bottom:2px;
		 border-top:solid thin #bbb;
		 border-bottom:solid thin #bbb;
 }

h2 { font-size:150%;
     color:#DD0000;
     font-style:italic;
     border-bottom:solid thin #bbb; }

h3 { font-size:125%;
		 color:#DD0000;
     font-style:bold;}

a:link { color:#DD0000;
				 text-decoration:underline;}

a:visited { color:#DD0000; 
            text-decoration:underline; }

a:active { color:#DD0000; 
           text-decoration:none; }

hr { border-style:none;
		 height:1px;
	   background-color:#bbb;
	}
				
pre { border-style: dotted;
	    border-width: 1px;
	    border-color:#aaa;
			background-color:#eee;
			padding: 5px; }

dt { color:#840;
     font-style:bold;
     font-size:125%;
		 margin-top:1ex; }

dd { margin-bottom:1ex; }

dl { margin-top:3ex;
     margin-bottom:3ex; }


