[submodule "contrib"]
	path = contrib
	url = https://github.com/OpenMS/contrib
[submodule "THIRDPARTY"]
	path = THIRDPARTY
	url = https://github.com/OpenMS/THIRDPARTY
	shallow = true
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
