dist: trusty
sudo: false
language: cpp
os:
 - linux

cache:
  - apt
  - ccache
  - directories:
    - contrib/

env:
  globale:
    - CCACHE_TEMPDIR=/tmp/.ccache-temp
addons:
   apt:
      sources:
         - ubuntu-toolchain-r-test
         - boost-latest
         - george-edison55-precise-backports
      packages:
         - cmake
         - cmake-data
         - g++-4.8
         - python-dev
         - libboost-chrono1.55-dev
         - libboost-date-time1.55-dev
         - libboost-filesystem1.55-dev
         - libboost-iostreams1.55-dev
         - libboost-math1.55-dev
         - libboost-python1.55-dev
         - libboost-regex1.55-dev
         - libboost-serialization1.55-dev
         - libboost-system1.55-dev
         - libboost-thread1.55-dev
         - libxerces-c3.1
         - libxerces-c-dev
         - libicu-dev
         - qt4-dev-tools
         - libqt4-dev
         - libqt4-core
         - libqt4-gui
         - libsvm-dev
         - libsvm3
         - libglpk36
         - libglpk-dev
         - subversion
         - doxygen 
         - graphviz
         - coinor-cbc
         - coinor-libcgl1
         - coinor-libclp1
         - coinor-libcoinutils-dev
         - coinor-libcgl-dev
         - coinor-libcbc-dev
         - coinor-libclp-dev
         - coinor-libosi-dev
         - coinor-libvol-dev
         - libpcre3-dev
         
before_script:
  ./tools/travis/cibuild.before.sh
script:
  ./tools/travis/cibuild.sh

#second we exclude those that are redundant, don't make sense or take too long
matrix:
  include:
    - env: ENABLE_STYLE_TESTING=ON WITH_GUI=ON 
      os: linux
      compiler: gcc

## see for example https://github.com/taocpp/PEGTL/blob/master/.travis.yml
## gcc tests class and TOPP tests
    - env: ENABLE_STYLE_TESTING=OFF ENABLE_TOPP_TESTING=ON ENABLE_CLASS_TESTING=ON WITH_GUI=ON ADDRESS_SANITIZER=Off BUILD_TYPE=Release OPENMP=On
      os: linux
      compiler: gcc

## pyopenms test
    - env: ENABLE_STYLE_TESTING=OFF WITH_GUI=OFF ENABLE_TOPP_TESTING=OFF ENABLE_CLASS_TESTING=OFF ADDRESS_SANITIZER=Off BUILD_TYPE=Release PYOPENMS=ON PY_NO_OPTIMIZATION=ON OPENMP=Off
      os: linux
      compiler: clang

# ## clang tests class and TOPP tests: without gui and without address sanitizer (debug build)
#     - env: ENABLE_STYLE_TESTING=OFF WITH_GUI=OFF ENABLE_TOPP_TESTING=ON ENABLE_CLASS_TESTING=OFF ADDRESS_SANITIZER=Off BUILD_TYPE=Debug CXX_FLAGS="-Qunused-arguments" CFLAGS="-Qunused-arguments" CCACHE_CPP2=1 OPENMP=Off
#       os: linux
#       compiler: clang
# ## clang tests class and TOPP tests: without gui and without address sanitizer (debug build)
#     - env: ENABLE_STYLE_TESTING=OFF WITH_GUI=OFF ENABLE_TOPP_TESTING=OFF ENABLE_CLASS_TESTING=ON ADDRESS_SANITIZER=Off BUILD_TYPE=Debug CXX_FLAGS="-Qunused-arguments" CFLAGS="-Qunused-arguments" CCACHE_CPP2=1 OPENMP=Off
#       os: linux
#       compiler: clang
# 
# ## clang tests class and TOPP tests: without gui and without address sanitizer (release build)
#     - env: ENABLE_STYLE_TESTING=OFF WITH_GUI=ON ENABLE_TOPP_TESTING=ON ENABLE_CLASS_TESTING=ON ADDRESS_SANITIZER=Off BUILD_TYPE=Release CXX_FLAGS="-Qunused-arguments" CFLAGS="-Qunused-arguments" CCACHE_CPP2=1 OPENMP=Off
#       os: linux
#       compiler: clang
#
### OS X tests
#    - env: ENABLE_STYLE_TESTING=OFF WITH_GUI=OFF ENABLE_TOPP_TESTING=ON ENABLE_CLASS_TESTING=OFF ADDRESS_SANITIZER=Off BUILD_TYPE=Release
#      os: osx
#      compiler: clang
#
