language: cpp
cache: apt
before_script:
   ./tools/travis/lnx-cibuild.before.sh
script:
  ./tools/travis/lnx-cibuild.sh
matrix:
  include:
    - env: ENABLE_STYLE_TESTING=ON WITH_GUI=ON
      compiler: gcc
## split class vs. TOPP tests for GCC (otherwise it will run into time limit of 50min)
    - env: ENABLE_STYLE_TESTING=OFF ENABLE_TOPP_TESTING=ON ENABLE_CLASS_TESTING=OFF WITH_GUI=ON
      compiler: gcc
    - env: ENABLE_STYLE_TESTING=OFF ENABLE_TOPP_TESTING=OFF ENABLE_CLASS_TESTING=ON  WITH_GUI=ON
      compiler: gcc
## clang can run both class+TOPP tests since it's faster
    - env: ENABLE_STYLE_TESTING=OFF WITH_GUI=OFF ENABLE_TOPP_TESTING=ON ENABLE_CLASS_TESTING=ON
      compiler: clang
    - env: ENABLE_STYLE_TESTING=OFF WITH_GUI=ON ENABLE_TOPP_TESTING=ON ENABLE_CLASS_TESTING=ON
      compiler: clang
