graft pyopenms/share
prune pyopenms/share/OpenMS/examples
include pyopenms/*.dll
include pyopenms/*.dylib
include pyopenms/*.so
include pyopenms/*.txt
include pyopenms/Qt*/*
exclude pyopenms/*.cpp
global-exclude pyopenms.cpp
global-exclude HMDB2StructMapping.tsv
