graft pyopenms/share
prune pyopenms/share/OpenMS/examples
include pyopenms/*.dll
include pyopenms/*.txt
include pyopenms/libOpenMS.*
include pyopenms/libOpenSwathAlgo.*
include pyopenms/libSuperHirn.*
include pyopenms/QtCore*
include pyopenms/QtNetwork*
include pyopenms/libz.*
exclude pyopenms/*.cpp
global-exclude pyopenms.cpp
global-exclude HMDB2StructMapping.tsv
