# Allows the USER to Specify the ScoreType that is used to rank the list of Molecular Formula 
# Identifications
# before CSI:FingerID predictions are calculated. Auto means that this ScoreType is
# automatically set depending on the executed workflow.
FormulaResultRankingScore=AUTO
PrintCitations=True
RecomputeResults=False
# Maximum number of candidate molecular formulas (fragmentation trees computed by SIRIUS) 
# per compound which are considered by ZODIAC.
# This is the threshold used for all compounds with mz below 300 m/z and is used to interpolate the 
# number of candidates for larger compounds.
# If lower than 0, all available candidates are considered.
ZodiacNumberOfConsideredCandidatesAt300Mz=10
# As default ZODIAC runs a 2-step approach. First running 'good quality compounds' only, and 
# afterwards including the remaining.
ZodiacRunInTwoSteps=true
# Ratio of candidate molecular formulas (fragmentation trees computed by SIRIUS) per 
# compound which are forced for each ionization to be considered by ZODIAC.
# This depends on the number of candidates ZODIAC considers. E.g. if 50 candidates are 
# considered and a ratio of 0.2 is set, at least 10 candidates per ionization will be 
# considered, which might increase the number of candidates above 50.
ZodiacRatioOfConsideredCandidatesPerIonization=0.2
# cluster compounds before running ZODIAC
ZodiacClusterCompounds=false
# Maximum number of candidate molecular formulas (fragmentation trees computed by SIRIUS) 
# per compound which are considered by ZODIAC.
# This is the threshold used for all compounds with mz above 800 m/z and is used to interpolate the 
# number of candidates for smaller compounds.
# If lower than 0, all available candidates are considered.
ZodiacNumberOfConsideredCandidatesAt800Mz=50
MotifDbFile=none
StructurePredictors=CSI_FINGERID
# Candidates matching the lipid class estimated by El Gordo will be tagged.
# The lipid class will only be available if El Gordo predicts that the MS/MS is a lipid spectrum.
# If this parameter is set to 'false' El Gordo will still be executed and e.g. improve the 
# fragmentation
# tree, but the matching candidates will not be tagged as lipid class.
InjectElGordoCompounds=True
NumberOfStructureCandidates=10000
FormulaSearchDB=none
StructureSearchDB=BIO
# Specifies if the list of Molecular Formula Identifications is filtered by a soft threshold
# (calculateThreshold) before CSI:FingerID predictions are calculated.
FormulaResultThreshold=true
MedianNoiseIntensity=0.015
# This configuration holds a set of user given formulas to be used as candidates for SIRIUS
# Note: This set might be merged with other sources like formulas from databases
# Set of Molecular Formulas to be used as candidates for molecular formula estimation with 
# SIRIUS
CandidateFormulas=,
# Keywords that can be assigned to a input spectrum to judge its quality. Available keywords 
# are: Good, LowIntensity, NoMS1Peak, FewPeaks, Chimeric, NotMonoisotopicPeak, 
# PoorlyExplained
CompoundQuality=UNKNOWN
# An adduct switch is a switch of the ionization mode within a spectrum, e.g. an ion replaces an 
# sodium adduct
# with a protonation during fragmentation. Such adduct switches heavily increase the 
# complexity of the
# analysis, but for certain adducts they might happen regularly. Adduct switches are written 
# in the
# form  {@literal a -> b, a -> c, d -> c} where a, b, c, and d are adducts and  {@literal a -> b} denotes an 
# allowed switch from
# a to b within the MS/MS spectrum.
PossibleAdductSwitches=[M+Na]+:[M+H]+,[M+K]+:[M+H]+,[M+Cl]-:[M-H]-
IsotopeMs2Settings=IGNORE
# use this parameter if you want to force to report at least
# numberOfResultsToKeepPerIonization results per ionization.
# if le 0, this parameter will have no effect and just the top
# numberOfResultsToKeep results will be reported.
NumberOfCandidatesPerIon=1
# Enable/Disable the hypothesen driven recalibration of MS/MS spectra
# Must be either 'ALLOWED' or FORBIDDEN'
ForbidRecalibration=ALLOWED
NumberOfCandidates=10
# Configuration profile to store instrument specific algorithm properties.
# Some of the default profiles are: 'qtof', 'orbitrap', 'fticr'.
AlgorithmProfile=default
NoiseThresholdSettings.intensityThreshold = 0.005
NoiseThresholdSettings.maximalNumberOfPeaks = 60
NoiseThresholdSettings.basePeak = NOT_PRECURSOR
NoiseThresholdSettings.absoluteThreshold = 0

# Mass accuracy setting for MS1 spectra. Mass accuracies are always written as "X ppm (Y Da)" 
# with X and Y
# are numerical values. The ppm is a relative measure (parts per million), Da is an absolute 
# measure. For each mass, the
# maximum of relative and absolute is used.
MS1MassDeviation.allowedMassDeviation = 10.0 ppm
MS1MassDeviation.standardMassDeviation = 10.0 ppm
MS1MassDeviation.massDifferenceDeviation = 5.0 ppm

# Mass accuracy setting for MS2 spectra. Mass Accuracies are always written as "X ppm (Y Da)" 
# with X and Y
# are numerical values. The ppm is a relative measure (parts per million), Da is an absolute 
# measure. For each mass, the
# maximum of relative and absolute is used.
MS2MassDeviation.allowedMassDeviation = 10.0 ppm
MS2MassDeviation.standardMassDeviation = 10.0 ppm

# Describes how to deal with Adducts:
# Pos Examples: 
# [M+H]+,[M]+,[M+K]+,[M+Na]+,[M+H-H2O]+,[M+Na2-H]+,[M+2K-H]+,[M+NH4]+,[M+H3O]+,[M+MeOH+H]+,[M+ACN+H]+,[M+2ACN+H]+,[M+IPA+H]+,[M+ACN+Na]+,[M+DMSO+H]+
# Neg Examples: 
# [M-H]-,[M]-,[M+K-2H]-,[M+Cl]-,[M-H2O-H]-,[M+Na-2H]-,M+FA-H]-,[M+Br]-,[M+HAc-H]-,[M+TFA-H]-,[M+ACN-H]-
# Enforced ion modes that are always considered.
AdductSettings.enforced = ,
# Detectable ion modes which are only considered if there is an indication in the MS1 scan (e.g. 
# correct mass delta).
AdductSettings.detectable = [M+H]+,[M+K]+,[M+Na]+,[M+H-H2O]+,[M+H-H4O2]+,[M+NH4]+,[M-H]-,[M+Cl]-,[M-H2O-H]-,[M+Br]-
# Fallback ion modes which are considered if the auto detection did not find any indication for 
# an ion mode.
AdductSettings.fallback = [M+H]+,[M-H]-,[M+Na]+,[M+K]+

# These configurations hold the information how to autodetect elements based on the given 
# formula constraints.
# Note: If the compound is already assigned to a specific molecular formula, this annotation is 
# ignored.
# Enforced elements are always considered
FormulaSettings.enforced = C,H,N,O,P
# Detectable elements are added to the chemical alphabet, if there are indications for them 
# (e.g. in isotope pattern)
FormulaSettings.detectable = S,Br,Cl,B,Se
# Fallback elements are used, if the auto-detection fails (e.g. no isotope pattern available)
FormulaSettings.fallback = S

# This configurations define how to deal with isotope patterns in MS1.
# When filtering is enabled, molecular formulas are excluded if their theoretical isotope 
# pattern does not match
# the theoretical one, even if their MS/MS pattern has high score.
IsotopeSettings.filter = True
# multiplier for the isotope score. Set to 0 to disable isotope scoring. Otherwise, the score 
# from isotope
# pattern analysis is multiplied with this coefficient. Set to a value larger than one if your 
# isotope
# pattern data is of much better quality than your MS/MS data.
IsotopeSettings.multiplier = 1

# This configurations define a timeout for the tree computation. As the underlying problem is 
# NP-hard, it might take
# forever to compute trees for very challenging (e.g. large mass) compounds. Setting an time 
# constraint allow the program
# to continue with other instances and just skip the challenging ones.
# Note that, due to multithreading, this time constraints are not absolutely accurate.
# Set the maximum number of seconds for computing a single compound. Set to 0 to disable the time 
# constraint.
Timeout.secondsPerInstance = 0
# Set the maximum number of seconds for a single molecular formula check. Set to 0 to disable the 
# time constraint
Timeout.secondsPerTree = 0
# Ignore isotope peaks below this intensity.
# This value should reflect the smallest relative intensive which is still above noise level.
# Obviously, this is hard to judge without having absolute values. Keeping this value around 1 
# percent is
# fine for most settings. Set it to smaller values if you trust your small intensities.
ms1.minimalIntensityToConsider = 0.01
# The average absolute deviation between theoretical and measured intensity of isotope 
# peaks.
# Do not change this parameter without a good reason!
ms1.absoluteIntensityError = 0.02
# The average relative deviation between theoretical and measured intensity of isotope 
# peaks.
# Do not change this parameter without a good reason!
ms1.relativeIntensityError = 0.08
# Set minimum m/z to enable heuristic preprocessing. The heuristic will be used to initially 
# rank the formula candidates. The Top (NumberOfCandidates) candidates will then be 
# computed exactly by solving the ILP.
UseHeuristic.mzToUseHeuristic = 300
# Set minimum m/z to only use heuristic tree computation. No exact tree computation (ILP) will 
# be performed for this compounds.
UseHeuristic.mzToUseHeuristicOnly = 650

# Defines the proportion of edges of the complete network which will be ignored.
ZodiacEdgeFilterThresholds.thresholdFilter = 0.95
# Minimum number of candidates per compound which are forced to have at least 
# [minLocalConnections] connections to other compounds.
# E.g. 2 candidates per compound must have at least 10 connections to other compounds
ZodiacEdgeFilterThresholds.minLocalCandidates = 1
# Minimum number of connections per candidate which are forced for at least 
# [minLocalCandidates] candidates to other compounds.
# E.g. 2 candidates per compound must have at least 10 connections to other compounds
ZodiacEdgeFilterThresholds.minLocalConnections = 10

# Number of epochs to run the Gibbs sampling. When multiple Markov chains are computed, all 
# chains' iterations sum up to this value.
ZodiacEpochs.iterations = 20000
# Number of epochs considered as 'burn-in period'.
# Samples from the beginning of a Markov chain do not accurately represent the desired 
# distribution of candidates and are not used to estimate the ZODIAC score.
ZodiacEpochs.burnInPeriod = 2000
# Number of separate Gibbs sampling runs.
ZodiacEpochs.numberOfMarkovChains = 10

# Lambda used in the scoring function of spectral library hits. The higher this value the higher 
# are librar hits weighted in ZODIAC scoring.
ZodiacLibraryScoring.lambda = 1000
# Spectral library hits must have at least this cosine or higher to be considered in scoring. 
# Value must be in [0,1].
ZodiacLibraryScoring.minCosine = 0.5

