# Action to allow clang format linting at the files changed in the PR

on:
  pull_request:
    branches:
    - develop

name: Clang format linting
jobs:

# Checkout OpenMS
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

# Get files changed in the PR
    - name: Get changed files
      id: changed_files
      uses: tj-actions/changed-files@v34.6.1
      with:
          path: .
          files: |
            **/*.h
            **/*.cpp

# Perform linting
    - name: Use clang format linting
      if: steps.changed_files.outputs.any_modified == 'true'
      uses: DoozyX/clang-format-lint-action@v0.16.2
      with:
        source: ${{ steps.changed_files.outputs.all_changed_files }}
        clangFormatVersion: 16

    - name: Set workflow status to warning
      if: ${{ failure() }}
      run: echo "Linting issues detected. This is a warning."
      continue-on-error: true
