# Action to allow clang format linting at the files changed in the PR
name: Apply clang-format on comment and commit to PR
on:
  issue_comment:
    types: [created]

permissions:
  checks: write
  contents: write

jobs:
  lint:
    name: Automatic clang format linting
    runs-on: ubuntu-latest
    if: github.event.issue.pull_request != '' && contains(github.event.comment.body, '/reformat')
    steps:
      # Checkout source code
      - name: Checkout
        uses: actions/checkout@v2
      - name: Checkout Pull Request
        run: |
          git config --global hub.protocol https
          hub pr checkout ${{ github.event.issue.number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


# Get files changed in the PR
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v10.1
        with:
            path: .
            files: |
              \.h$
              \.cpp$

# Perform linting
      - name: Use clang format linting
        uses: DoozyX/clang-format-lint-action@v0.13
        with:
          source: ${{ steps.changed-files.outputs.all_modified_files }}
          clangFormatVersion: 13
          inplace: True
      - name: commit
        run: |
          git config --global user.email "lint@github.com"
          git config --global user.name "GitHub Linter"
          git commit -am "fix lint"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
