name: Download and Setup Contrib Build

on: 
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  setup-contrib:
    runs-on: windows-2022
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install jq
        run: choco install jq

      - name: Download contrib build from GitHub release (Windows)
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd OpenMS/contrib
          # Use GitHub API to get the download URL for the latest release asset named 'contrib_build-Windows.tar.gz'
          DOWNLOAD_URL=$(curl -sH "Authorization: token $GITHUB_TOKEN" \
            https://api.github.com/repos/t0mdavid-m/contrib/releases/latest \
            | jq -r '.assets[] | select(.name == "contrib_build-Windows.tar.gz") | .browser_download_url')
          
          # Download the file using the URL fetched from GitHub
          curl --no-progress-meter -L -o contribbld.tar.gz $DOWNLOAD_URL
          
          # Extract the archive
          7z x -so contribbld.tar.gz | 7z x -si -ttar
          
          # Remove the archive file
          rm contribbld.tar.gz
          
          # List contents to verify
          ls -la
